body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App{
  display: block;
  /* width: 400px; */
  margin: auto;
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}